@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/gilroylight.woff2") format ("woff2"), url("../fonts/gilroylight.woff") format ("woff");
}
/* fonts don't download */
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/gilroyextrabold.woff2") format ("woff2"), url("../fonts/gilroyextrabold.woff") format ("woff");
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Gilroy", "Calibri", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main-container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 40px;
}

/* HEADER */
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0 60px;
  padding-top: 40px;
  background-color: rgba(240, 197, 46, 0.5);
}

.main-header .main-logo {
  position: absolute;
  top: -17px;
  left: 60px;
}

.main-logo {
  margin-bottom: 30px;
}

.main-logo:hover,
.logo-link:focus .main-logo {
  opacity: 0.6;
}

.main-logo:active {
  opacity: 0.3;
}

.user-navigation {
  display: flex;
  margin: 0;
  margin-bottom: 45px;
  padding: 0;
  list-style: none;
}

.user-navigation-link {
  font-family: "Open Sans", "Calibri", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.15px;
  color: #000000;
}

.user-navigation-link:hover,
.user-navigation-link:focus {
  color: rgba(0, 0, 0, 0.6);
}

.user-navigation-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.search-form {
  margin-right: 100px;
  position: relative;
  width: 440px;
}

.main-header .search-form::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 4px;
  width: 16px;
  height: 16px;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
}

.search-form-input {
  margin: 0;
  padding: 0;
  padding-left: 40px;
  padding-bottom: 15px;
  width: 440px;
  height: 30px;
  font-family: "Open Sans", "Calibri", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.15px;
  color: #000000;
  border: none;
  background-color: #f7e296;
}

.search-form-input::placeholder {
  display: block;
  margin: 0;
  padding: 0;
  padding-bottom: 13px;
  font-family: "Open Sans", "Calibri", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.3);
}

.search-form-input:hover::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-form-input:focus::placeholder {
  color: #000000;
  border-bottom: 2px solid black;
}

.search-form-input:focus {
  border-bottom: 2px solid black;
}

.search-form-input:focus .search-form-button {
  /* display: block; */
  position: absolute;
  right: 0;
  bottom: 0;
  width: 85px;
  height: 49px;
  border: 2px solid black;
  background-color: transparent;
  font-family: "Open Sans", "Calibri", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.15px;
  text-align: center;
  color: #000000;
}

.search-form-button {
  /* position: absolute;
  right: 0;
  bottom: 0; */
  display: none;
  /* width: 85px;
  height: 49px;
  border: 2px solid black;
  background-color: transparent;
  font-family: "Open Sans", "Calibri", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.15px;
  text-align: center;
  color: #000000; */
}

.search-form-button:hover,
.search-form-button:focus {
  background-color: #000000;
  color: #ffffff;
}

.search-form-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.main-header .user-navigation-item:nth-child(2) {
  margin-right: 180px;
  width: 260px;
}

.profile-link {
  position: relative;
  padding: 5px 0;
  padding-left: 27px;
}

.main-header .profile-link::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 0;
  width: 13px;
  height: 12px;
  background-image: url("../img/user.svg");
  background-repeat: no-repeat;
}

.compare-link {
  position: relative;
  padding: 5px 0;
  padding-left: 27px;
}

.main-header .compare-link::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 7px;
  width: 10px;
  height: 10px;
  background-image: url("../img/compare.svg");
  background-repeat: no-repeat;
}

.main-header .user-navigation-item:nth-child(3) {
  margin-right: 20px;
}

.cart-link {
  position: relative;
  padding: 5px 0;
  padding-left: 40px;
}

.main-header .cart-link::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 16px;
  width: 12px;
  height: 12px;
  background-image: url("../img/cart.svg");
  background-repeat: no-repeat;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin: 0;
  margin-bottom: 160px;
  padding: 0;
  list-style: none;
}

.nav-link {
  font-family: "Gilroy", "Calibri", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  color: #000000;
}

.nav-link:hover,
.nav-link:focus {
  color: rgba(0, 0, 0, 0.6);
}

.nav-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.nav-catalog {
  position: relative;
  padding-right: 40px;
  margin-right: 270px;
}

.nav-catalog::after {
  content: "";
  position: absolute;
  top: 2px;
  right: 10px;
  width: 16px;
  height: 16px;
  background-image: url("../img/plus.png");
  background-repeat: no-repeat;
}

.nav-catalog-list {
  display: none;
  /* display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none; */
}

.nav-catalog-link {
  font-family: "Open Sans", "Calibri", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.15px;
  color: #000000;
}

.nav-catalog-link:hover,
.nav-catalog-link:focus {
  color: rgba(0, 0, 0, 0.6);
}

.nav-catalog-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.nav-item:nth-child(2) {
  margin-right: 30px;
}

.nav-item:last-child {
  margin-left: auto;
}

/* INDEX.HTML */
.button {
  display: block;
  padding: 8px 40px;
  background: linear-gradient(to bottom, transparent 0%, transparent 40%, #f0c52e 40%, #f0c52e 60%, transparent 60%, transparent 100%);
  font-family: "Gilroy", "Calibri", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 2.15px;
  font-weight: 800;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}

.button:hover,
.button:focus {
  background: #f0c52e;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

.slider {
  margin-bottom: 100px;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-item {
  display: flex;
}

.slider-img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 560px;
}

.slider-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 60px;
  width: 500px;
}

.slider-item h2 {
  font-family: "Gilroy", "Calibri", sans-serif;
  font-size: 47px;
  line-height: 56px;
  letter-spacing: 0.17px;
  font-weight: 800;
  color: #000000;
}

.slider-item p {
  font-family: "Open Sans", "Calibri", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.15px;
  color: #464646;
}

.slider-button {
  margin-bottom: 55px;
}

.terms-list {
  display: flex;
  /* justify-content: space-between;
  min-width: 430px; */
  margin: 0;
  padding: 0;
}

.term {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  font-family: "Gilroy", "Calibri", sans-serif;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.36px;
  font-weight: 300;
  color: #000000;
}

.term-description {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Calibri", sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  letter-spacing: 0.13px;
  color: #464646;
}

.popular-list {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style: none;
}

.popular-item {
  width: 160px;
}

.popular-icon {
  display: block;
}

.popular-link {
  color: #000000;
}

.popular-link span {
  font-family: "Gilroy", "Calibri", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px;
  font-weight: 800;
  color: #000000;
}

/* .popular-icon-wrapper {
  width: 160px;
  height: 160px;
  background-color: rgba(240, 197, 46, 0.5);
}

.popular-icon-wrapper:hover,
.popular-icon-wrapper:focus {
  background-color: #f0c52e;
}

.popular-icon-wrapper:active .popular-icon {
  opacity: 0.3;
} */

.services {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 90px;

  background-color: #e5e5e5;
}

.service-list {
  position: relative;
  margin: 0;
  margin-right: 120px;
  padding: 0;
  width: 280px;
  list-style: none;
}

.service-list::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 319px;
  top: 0;
  left: 278px;
  background-color: #000000;
}

.service-item:first-child {
  margin-top: 80px;
  margin-bottom: 25px;
}

.service-item:nth-child(2) {
  margin-bottom: 25px;
}

.service-item-link {
  width: 180px;
  font-family: "Gilroy", "Calibri", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 2.15px;
  font-weight: 800;
  color: #000000;
}

.service-item-link:active {
  width: 278px;
  background-color: #000000;
  color: #f7e184;
}

.service-description-list {
  margin: 0;
  padding: 0;
  width: 460px;
  list-style: none;
}

.service-description-item {
  position: relative;
}

.service-description-item::after {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
}

.service-description-item:first-child::after {
  top: 0;
  right: 0;
  width: 136px;
  height: 164px;
  background-image: url("../img/delivery.svg");
}

.service-description-item:nth-child(2)::after {
  top: 0;
  right: 0;
  width: 171px;
  height: 195px;
  background-image: url("../img/warranty.svg");
}

.service-description-item:last-child::after {
  top: 0;
  right: 0;
  width: 156px;
  height: 188px;
  background-image: url("../img/credit.svg");
}

.service-description-item h2 {
  margin: 0;
  font-family: "Gilroy", "Calibri", sans-serif;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.21px;
  font-weight: 800;
  color: #000000;
}

.service-description-item p {
  font-family: "Open Sans", "Calibri", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.15px;
  color: #464646;
}

.logotypes {
  margin-bottom: 100px;
}

.logotype-list {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  display: flex;
}

.info {
  position: relative;
  padding-top: 55px;
  margin-right: 120px;
  width: 480px;
}

.info::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: #000000;
}

.info h2 {
  margin: 0;
  margin-bottom: 50px;
  font-family: "Gilroy", "Calibri", sans-serif;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.21px;
  font-weight: 800;
  color: #000000;
}

.info p {
  font-family: "Open Sans", "Calibri", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;
}

.info p:first-of-type {
  margin-bottom: 35px;
}

.info p:last-of-type {
  margin-bottom: 70px;
}

.info-list {
  margin-bottom: 54px;
}

.info-item {
  font-family: "Gilroy", "Calibri", sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 800;
  color: #000000;
}

/* How to make button? */

.contacts {
  position: relative;
  padding-top: 55px;
  width: 560px;
}

.contacts::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: #000000;
}

.contacts h2 {
  margin: 0;
  margin-bottom: 50px;
  font-family: "Gilroy", "Calibri", sans-serif;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.21px;
  font-weight: 800;
  color: #000000;
}

.contacts p {
  margin-bottom: 40px;
  font-family: "Open Sans", "Calibri", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;
}

.map {
  display: block;
  margin-bottom: 70px;
}

/*INDEX POPUPS*/
.close-button {
  width: 55px;
  height: 55px;
  border: none;
  background-image: url("../img/modal-close.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  opacity: 0.5;
}

.close-button:hover,
.close-button:focus {
  opacity: 1;
}

.close-button:active {
  opacity: 0.3;
}

.map-popup {
  display: inline-block;
  position: relative;
  /* position: absolute;
  right: 240px;
  bottom: 384px; */
}

.map-iframe {
  width: 960px;
  height: 559px;
  box-shadow: 0 10px 20px 0 rgba(4, 6, 6, 0.2);
}

.map-popup .close-button {
  position: absolute;
  top: 22px;
  right: 22px;
}

.contact-popup {
  display: inline-block;
  position: relative;
  box-shadow: 0 10px 20px 0 rgba(4, 6, 6, 0.2);
}

.contact-popup .close-button {
  position: absolute;
  top: 22px;
  right: 22px;
}

.contact-popup-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 90px 100px;
  padding-bottom: 0;
}

.contact-popup-container {
  display: flex;
  margin-bottom: 35px;
}

.contact-popup-input {
  display: flex;
  flex-direction: column;
}

.contact-popup-input:first-child {
  margin-right: 40px;
}

.contact-popup-form label {
  display: block;
  margin-bottom: 10px;
  font-family: "Gilroy", "Calibri", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
}

.contact-popup-form input::placeholder,
.contact-popup-form textarea::placeholder {
  padding: 16px 0;
  padding-left: 20px;
  font-family: "Open Sans", "Calibri", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(70, 70, 70, 0.4);
}

.contact-popup-form input,
.contact-popup-form textarea {
  padding: 16px 0;
  padding-left: 20px;
  width: 360px;
  border: none;
  background-color: rgba(230, 230, 230, 0.5);
}

.contact-popup-form textarea {
  margin-bottom: 40px;
  width: 760px;
  height: 156px;
}

.contact-popup-form input:hover,
.contact-popup-form textarea:hover {
  background-color: rgba(230, 230, 230, 0.8);
}

.contact-popup-form input:focus,
.contact-popup-form textarea:focus {
  background-color: transparent;
  border: 3px solid rgba(240, 197, 46, 0.5);
  color: #464646;
}

.contact-popup-form input:invalid,
.contact-popup-form textarea:invalid {
  background-color: rgba(237, 181, 181, 0.5);
  color: rgba(70, 70, 70, 0.4);
  border: none;
}

.popup-button {
  margin-bottom: 78px;
  border: none;
}

/* CATALOG.HTML */
.main-heading {
  font-family: "Gilroy", "Calibri", sans-serif;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.17px;
  font-weight: 800;
  color: #000000;
}

.breadcrumbs-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs-link {
  font-family: "Open Sans", "Calibri", sans-serif;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.14px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs-link:hover,
.breadcrumbs-link:focus {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs-link:active {
  color: rgba(0, 0, 0, 0.1);
}

.main-content-container {
  display: flex;
}

.content-container {
  display: flex;
  flex-direction: column;
}

.form h2 {
  font-family: "Gilroy", "Calibri", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.91px;
  text-transform: uppercase;
  font-weight: 800;
  color: #000000;
}

.filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.range-div {
  width: 200px;
}

.range-div label {
  font-family: "Gilroy", "Calibri", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px;
  font-weight: 800;
  color: #000000;
}

.color {
  width: 200px;
  border: none;
}

.color legend {
  font-family: "Gilroy", "Calibri", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px;
  font-weight: 800;
  color: #000000;
}

.bluetooth {
  width: 200px;
  border: none;
}

.bluetooth legend {
  font-family: "Gilroy", "Calibri", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px;
  font-weight: 800;
  color: #000000;
}

.filter-option label {
  font-family: "Open Sans", "Calibri", sans-serif;
  font-size: 14px;
  line-height: 40px;
  font-weight: 300;
  letter-spacing: 0.14px;
  color: #000000;
}

.filter-button {
  /* width: 200px; */
  border: none;
}

.sort {
  display: flex;
  align-items: center;
}

.sort h2 {
  margin-right: 20px;
  width: 160px;
  font-family: "Gilroy", "Calibri", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.91px;
  font-weight: 800;
  text-transform: uppercase;
  color: #000000;
}

.sort-list {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sort-item-link {
  font-family: "Open Sans", "Calibri", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
}

.sort-item-link:hover,
.sort-item-link:focus {
  color: rgba(0, 0, 0, 0.6);
}

.sort-item-link:focus {
  color: #000000;
}

.order-list {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.order-item-link {
  display: block;
  width: 11px;
  height: 10px;
}

.order-item-link::before {
  content: "";
  display: block;
  width: 11px;
  height: 10px;
  background-image: url("../img/icon-dir.svg");
  background-repeat: no-repeat;
  opacity: 0.2;
}

.order-item-up .order-item-link::before {
  transform: rotate(180deg);
}

.order-item-link:hover::before,
.order-item-link:focus::before {
  opacity: 0.4;
}

.order-item-link:active::before {
  opacity: 1;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  width: 760px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-item:nth-child(2n-1) {
  margin-right: 40px;
}

.catalog-item-description a {
  font-family: "Gilroy", "Calibri", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px;
  font-weight: 800;
  color: #000000;
}

.catalog-item-price {
  font-family: "Gilroy", "Calibri", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.16px;
  font-weight: 300;
  color: #464646;
}

.catalog-button {
  /* width: 200px; */
}

.pages {
  width: 760px;
  background-color: rgba(0, 0, 0, 0.08);
}

.pages-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pages-item-link {
  display: block;
  height: 70px;
  font-family: "Gilroy", "Calibri", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.91px;
  font-weight: 800;
  text-transform: uppercase;
  color: #000000;
}

.pages-item:first-child,
.pages-item:last-child {
  width: 126px;
}

.pages-item:first-child:hover,
.pages-item:first-child:focus,
.pages-item:last-child:hover,
.pages-item:last-child:focus {
  background-color: rgba(0, 0, 0, 0.08);
}

.pages-item:first-child .pages-item-link:active,
.pages-item:last-child .pages-item-link:active {
  color: rgba(0, 0, 0, 0.3);
}

/* FOOTER */
.main-footer {
  display: flex;
  flex-direction: column;
  padding-top: 65px;
  padding-bottom: 65px;
  background-color: #464646;
}

.main-footer .main-container {
  padding-top: 0;
}

.footer-block {
  display: flex;
}

.main-footer .main-logo {
  width: 163px;
  height: 35px;
  fill: #ffc600;
}

.main-footer .main-logo:hover,
.main-footer .main-logo:focus {
  fill: rgba(255, 198, 0, 0.6);
}

.main-footer .main-logo:active {
  fill: rgba(255, 198, 0, 0.3);
}

.main-footer .user-navigation {
  margin-left: auto;
}

.main-footer .user-navigation-link {
  padding-left: 0;
  color: rgba(255, 255, 255, 0.7);
}

.main-footer .user-navigation-link:hover,
.main-footer .user-navigation-link:focus {
  color: #ffffff;
}

.main-footer .user-navigation-link:active {
  color: rgba(255, 255, 255, 0.3);
}

/* .main-footer .user-navigation-item:first-child {
  padding-right: 20px;
  width: 260px;
}

.main-footer .user-navigation-item:nth-child(2),
.main-footer .user-navigation-item:last-child {
  width: 100px;
}

.main-footer .user-navigation-item:nth-child(2) {
  padding-right: 20px;
} */

.main-footer .user-icon,
.main-footer .compare-icon,
.main-footer .cart-icon {
  margin-right: 10px;
  fill: #ffc600;
}

/* .main-footer .user-icon:hover,
.main-footer .user-icon:focus,
.main-footer .compare-icon:hover,
.main-footer .compare-icon:focus,
.main-footer .cart-icon:hover,
.main-footer .cart-icon:focus {
  fill: rgba(255, 198, 0, 0.6);
}

.main-footer .user-icon:active,
.main-footer .compare-icon:active,
.main-footer .cart-icon:active {
  fill: rgba(255, 198, 0, 0.3);
} */
.footer-block:nth-child(2) {
  margin-bottom: 65px;
}

.address-wrapper {
  margin-right: auto;
  width: 260px;
}

.address {
  font-family: "Open Sans", "Calibri", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #ffffff;
}

.footer-nav-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 440px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-nav-link {
  color: #ffffff;
}

.footer-nav-link:hover,
.footer-nav-link:focus {
  color: rgba(255, 255, 255, 0.6);
}

.footer-nav-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.phone-number-wrapper {
  margin-left: auto;
  width: 180px;
}

.phone-number {
  font-family: "Open Sans", "Calibri", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #ffffff;
}

.phone-number-link {
  color: #ffffff;
}

.footer-block:last-child {
  justify-content: flex-end;
}

.footer-social {
  width: 160px;
  margin-right: 475px;
}

.footer-social-list {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-social-link {
  display: block;
  width: 32px;
  height: 32px;
}

.footer-social-link::before {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  background-image: url("../img/facebook.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.instagram::before {
  background-image: url("../img/instagram.svg");
}

.twitter::before {
  background-image: url("../img/twitter.svg");
}

.footer-social-link:hover::before,
.footer-social-link:focus::before {
  opacity: 0.6;
}

.footer-social-link:active::before {
  opacity: 0.1;
}

.academy-link {
  color: #ffffff;
}

.academy-logo-icon {
  fill: #ffc600;
}

.academy-logo-icon:hover,
.academy-logo-icon:focus {
  fill: rgba(255, 198, 0, 0.6);
}

.academy-logo-icon:active {
  fill: rgba(255, 198, 0, 0.3);
}
