@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/gilroylight.woff2") format("woff2"), url("../fonts/gilroylight.woff") format("woff");
}
/* fonts don't download */
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/gilroyextrabold.woff2") format("woff2"), url("../fonts/gilroyextrabold.woff") format("woff");
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Gilroy", "Calibri", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main-container {
  width: 1200px;
  margin: 0 auto;

  padding: 0 20px;
  /* padding-left: 60px; */
}

.catalog-page>.main-container,
.index-page>.main-container {
  padding-top: 40px;
}

/* HEADER */
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0 60px;
  padding-top: 40px;
  background-color: rgba(240, 197, 46, 0.5);
}

.main-header .main-logo {
  position: absolute;
  top: -19px;
  left: 60px;
}

.main-logo {
  margin-bottom: 30px;
}

.main-logo:hover,
.logo-link:focus .main-logo {
  opacity: 0.6;
}

.main-logo:active {
  opacity: 0.3;
}

.user-navigation {
  display: flex;
  margin: 0;
  margin-bottom: 36px;
  padding: 0;
  list-style: none;
}

.user-navigation-link {
  display: inline-block;

  font-family: "Open Sans", "Calibri", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.15px;
  color: #000000;
}

.user-navigation-link:hover,
.user-navigation-link:focus {
  color: rgba(0, 0, 0, 0.6);
}

.user-navigation-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.search-form {
  margin-right: 100px;
  position: relative;
  width: 440px;
}

.main-header .search-form::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 3px;
  width: 16px;
  height: 16px;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
}

.search-form-input {
  margin: 0;
  padding: 0;
  padding-top: 3px;
  padding-left: 38px;

  width: 440px;

  font-family: "Open Sans", "Calibri", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.15px;
  color: #000000;

  border: none;
  background-color: #f7e296;
}

.search-form-input::placeholder {
  display: block;
  margin: 0;
  padding: 0;
  padding-bottom: 13px;
  font-family: "Open Sans", "Calibri", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.3);
}

.search-form-input:hover::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-form-input:focus::placeholder {
  color: #000000;
  border-bottom: 2px solid black;
}

.search-form-input:focus {
  border-bottom: 2px solid black;
}

.search-form-button {
  display: none;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 85px;
  height: 49px;
  border: 2px solid black;
  background-color: transparent;
  font-family: "Open Sans", "Calibri", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.15px;
  text-align: center;
  color: #000000;
}

.search-form-button:hover,
.search-form-button:focus {
  background-color: #000000;
  color: #ffffff;
}

.search-form-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.search-form-input:focus ~ .search-form-button {
  display: inline-block;
}

.main-header .user-navigation-item:nth-child(2) {
  margin-right: 210px;
}

.profile-link {
  position: relative;
  padding: 3px 0;
  padding-left: 27px;
}

.main-header .profile-link::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 0;
  width: 13px;
  height: 12px;
  background-image: url("../img/user.svg");
  background-repeat: no-repeat;
}

.profile-link:hover::before,
.profile-link:focus::before {
  opacity: 0.6;
}

.profile-link:active::before {
  opacity: 0.3;
}

.catalog-page .profile-link {
  margin-right: 15px;
}

.catalog-page .login-link {
  margin-right: 50px;
}

.catalog-page .user-navigation-item:nth-child(2) {
  margin-right: 0;
}

.compare-link {
  position: relative;
  padding: 3px 0;
  padding-left: 27px;
}

.main-header .compare-link::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 7px;
  width: 10px;
  height: 10px;
  background-image: url("../img/compare.svg");
  background-repeat: no-repeat;
}

.compare-link:hover::before,
.compare-link:focus::before {
  opacity: 0.6;
}

.compare-link:active::before {
  opacity: 0.3;
}

.main-header .user-navigation-item:nth-child(3) {
  margin-right: 20px;
}

.cart-link {
  position: relative;
  padding: 3px 0;
  padding-left: 43px;
}

.main-header .cart-link::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 21px;
  width: 12px;
  height: 12px;
  background-image: url("../img/cart.svg");
  background-repeat: no-repeat;
}

.cart-link:hover::before,
.cart-link:focus::before {
  opacity: 0.6;
}

.cart-link:active::before {
  opacity: 0.3;
}


.nav-list {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin: 0;
  margin-bottom: 163px;
  padding: 0;
  list-style: none;
}

.catalog-page .nav-list {
  margin-bottom: 60px;
}

.nav-link {
  font-family: "Gilroy", "Calibri", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  color: #000000;
}

.nav-link:hover,
.nav-link:focus {
  color: rgba(0, 0, 0, 0.6);
}

.nav-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.nav-catalog {
  position: relative;
  padding-right: 40px;
  padding-bottom: 169px;
  margin-right: 281px;
}

.nav-catalog::after {
  content: "";
  position: absolute;
  top: 3px;
  right: 13px;
  width: 16px;
  height: 16px;
  background-image: url("../img/plus.png");
  background-repeat: no-repeat;
}

.nav-item:first-child {
  position: relative;
}

.nav-catalog-list {
  display: none;
  flex-direction: column;
  flex-wrap: wrap;

  position: absolute;
  top: 34px;
  left: 0;
  z-index: 5;

  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* padding: 20px 60px 36px; */

  height: 150px;

  list-style: none;

  background-color: #f7e296;
}

.nav-catalog-list::before {
  content: "";
  position: absolute;
  top: 0;
  left: -60px;
  z-index: -1;

  width: 1160px;
  height: 150px;

  background-color: #f7e296;
}

.nav-catalog:hover ~ .nav-catalog-list,
.nav-catalog-list:hover {
  display: flex;
}

.nav-catalog-item {
  margin-bottom: 20px;
}

.nav-catalog-item:nth-child(3n+1) {
    margin-right: 40px;
}

.nav-catalog-item:nth-child(5) {
  margin-bottom: 40px;
}

.nav-catalog-link {
  display: inline-block;

  font-family: "Open Sans", "Calibri", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.15px;

  color: #000000;

  cursor: pointer;
}

.nav-catalog-link:hover,
.nav-catalog-link:focus {
  color: rgba(0, 0, 0, 0.6);
}

.nav-catalog-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.nav-item:nth-child(2) {
  margin-right: 34px;
}

.nav-item:last-child {
  margin-left: auto;
}

/* INDEX.HTML */
.main {
  position: relative;
  padding-top: 480px;
}

.button {
  display: inline-block;
  padding: 8px 40px;
  background: linear-gradient(to bottom, transparent 0%, transparent 40%, #f0c52e 40%, #f0c52e 60%, transparent 60%, transparent 100%);
  font-family: "Gilroy", "Calibri", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.15px;
  font-weight: 800;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}

.button:hover,
.button:focus {
  background: #f0c52e;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

.slider-wrapper {
  position: absolute;
  top: -110px;
}

.slider {
  position: relative;
  margin-bottom: 100px;
  margin-right: 60px;
  margin-left: 60px
}

.slider-controls {
  position: absolute;
  top: 326px;
  right: 22px;
  z-index: 100;

  font-size: 0;
}

.slider-controls label {
  position: relative;
  display: inline-block;
  margin-right: 21px;
  z-index: 1;

  width: 12px;
  height: 12px;

  background-color: transparent;
  border: 1px solid #000000;
  border-radius: 50%;

  cursor: pointer;
}

.slider-controls label:last-child {
  margin-right: 0;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-item {
  display: none;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1),
#product-2:checked ~ .slider-list .slider-item:nth-child(2),
#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: flex;
}

#product-1:checked ~ .slider-controls label[for="product-1"],
#product-2:checked ~ .slider-controls label[for="product-2"],
#product-3:checked ~ .slider-controls label[for="product-3"] {
  box-shadow: 0 0 0 3px #ffffff inset,
              0 0 0 4px #000000 inset,
              0 0 0 8px #ffffff inset;
}

.slider-img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 560px;
}

.slide1 .slider-img-wrapper {
  margin-right: 94px;

  width: 445px;
}

.slider-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  position: relative;

  padding-top: 39px;

  width: 500px;
}

.slider-description::before {
  content: "";
  position: absolute;
  top: 36px;
  left: 1px;
  width: 100px;
  height: 7px;
  background-color: #ffffff;
}

.slider-description::after {
  content: "";
  position: absolute;
  top: -15px;
  right: -12px;
  font-family: "Gilroy", "Calibri", sans-serif;
  font-size: 179px;
  line-height: 179px;
  letter-spacing: 0.17px;
  font-weight: 800;
  color: #ffffff;
}

.slide1 .slider-description::after {
  content: "01";
}

.slide2 .slider-description::after {
  content: "02";
}

.slide3 .slider-description::after {
  content: "03";
}

.slider-item h2 {
  margin-bottom: 4px;

  font-family: "Gilroy", "Calibri", sans-serif;
  font-size: 47px;
  line-height: 56px;
  letter-spacing: 0.17px;
  font-weight: 800;
  color: #000000;
}

.slider-item p {
  margin-bottom: 43px;

  font-family: "Open Sans", "Calibri", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.15px;
  color: #464646;
}

.slider-button {
  margin-bottom: 50px;
  padding: 8px 45px;
}

.terms-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.term-item:not(:last-child) {
  margin-right: 78px;
}

.term {
  margin: 0;
  margin-bottom: 7px;
  padding: 0;
  font-family: "Gilroy", "Calibri", sans-serif;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.36px;
  font-weight: 300;
  color: #000000;
}

.term-description {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Calibri", sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  letter-spacing: 0.13px;
  color: #464646;
}

.popular {
  margin-bottom: 183px;
}

.popular-list {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style: none;
}

.popular-item {
  margin-right: 20px;
  width: 160px;
}

.popular-item:last-child {
  margin-right: 0;
}

.popular-link {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #000000;
}

.popular-link::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 160px;
  height: 160px;
  background-color: rgba(240, 197, 46, 0.5);
}

.popular-link:hover::before,
.popular-link:focus::before {
  background-color: #f0c52e;
}

.popular-icon {
  position: relative;
  z-index: 5;
  margin: 0 auto;
  margin-top: 43px;
}

/* .popular-link:active::before ~ .popular-icon {
  opacity: 0.3;
} */

.popular-item:first-child .popular-icon {
  margin-top: 52px;
  margin-bottom: 85px;
}

.popular-item:nth-child(2) .popular-icon {
  margin-top: 41px;
  margin-bottom: 34px;
}

.popular-item:nth-child(3) .popular-icon {
  margin-top: 38px;
  margin-bottom: 67px;
}

.popular-item:nth-child(4) .popular-icon {
  margin-top: 50px;
  margin-bottom: 78px;
}

.popular-item:nth-child(5) .popular-icon {
  margin-top: 32px;
  margin-bottom: 63px;
}

.popular-item:nth-child(6) .popular-icon {
  margin-top: 49px;
  margin-bottom: 75px;
}

.popular-link span {
  font-family: "Gilroy", "Calibri", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px;
  font-weight: 800;
  color: #000000;
}

.services-wrapper {
  position: relative;

  margin-bottom: 54px;

  width: 100%;
  height: 288px;

  background-color: #e5e5e5;
}

.services {
  position: absolute;
  top: -100px;
  left: 95px;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.service-list {
  position: relative;
  margin: 0;
  margin-right: 120px;
  margin-top: 80px;
  padding: 0;
  width: 280px;
  list-style: none;
}

.service-list::after {
  content: "";
  position: absolute;
  top: -80px;
  left: 278px;
  width: 7px;
  height: 319px;
  background-color: #000000;
}

.service-item {
  position: relative;
  margin-bottom: 26px;
  width: 100%;
}

.service-item-link {
  display: block;

  position: relative;

  padding: 8px 20px;

  width: 160px;

  font-family: "Gilroy", "Calibri", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 2.15px;
  font-weight: 800;
  color: #000000;
}

.current-service-item .service-item-link:active,
.current-service-item .service-item-link,
.service-item:active .service-item-link {
  background: none;
  background-color: #000000;
  color: #f7e184;
}

.current-service-item,
.service-item:active {
  background-color: #000000;
}

.service-description-list {
  margin: 0;
  margin-top: 73px;
  padding: 0;
  width: 460px;
  list-style: none;
}

.service-description-item {
  display: none;
  position: relative;
}

.service-description-item:first-child {
  display: block;
}

.service-description-item::after {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
}

.service-description-item:first-child::after {
  top: 12px;
  right: -234px;
  width: 136px;
  height: 164px;
  background-image: url("../img/delivery.svg");
}

.service-description-item:nth-child(2)::after {
  top: 0;
  right: 0;
  width: 171px;
  height: 195px;
  background-image: url("../img/warranty.svg");
}

.service-description-item:last-child::after {
  top: 0;
  right: 0;
  width: 156px;
  height: 188px;
  background-image: url("../img/credit.svg");
}

.service-description-item h2 {
  margin: 0;
  margin-bottom: 30px;

  font-family: "Gilroy", "Calibri", sans-serif;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.21px;
  font-weight: 800;
  color: #000000;
}

.service-description-item p {
  font-family: "Open Sans", "Calibri", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.15px;
  color: #464646;
}

.logotypes {
  margin-bottom: 84px;
}

.logotype-list {
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;
}

.logotype-item:not(:last-child) {
  margin-right: 39px;
}

.logotype-item-link {
  display: block;

  position: relative;
}

.logotype-item-link img:last-child {
  position: absolute;
  top: 0;
  left: 0;

  opacity: 0;
}

.logotype-item-link:hover img:first-child {
  opacity: 0;
}

.logotype-item-link:hover img:last-child {
  opacity: 1;
}

.container {
  display: flex;

  margin-bottom: 82px;
}

.info {
  position: relative;
  padding-top: 55px;
  margin-right: 120px;
  width: 478px;
}

.info::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: #000000;
}

.info h2 {
  margin: 0;
  margin-bottom: 43px;
  font-family: "Gilroy", "Calibri", sans-serif;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.21px;
  font-weight: 800;
  color: #000000;
}

.info p {
  font-family: "Open Sans", "Calibri", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;
}

.info p:first-of-type {
  margin-bottom: 30px;
}

.info p:last-of-type {
  margin-bottom: 65px;
}

.info-list {
  margin: 0;
  margin-bottom: 54px;
  padding: 0;

  list-style: none;
}

.info-item {
  position: relative;

  padding-left: 35px;

  font-family: "Gilroy", "Calibri", sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 800;
  color: #000000;
}

.info-item::before {
  content: "";

  position: absolute;
  top: 17px;
  left: 0;

  width: 8px;
  height: 8px;

  background-color: transparent;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
}

.info-button {
  padding: 8px 24px;
}

.contacts {
  position: relative;
  padding-top: 55px;
  width: 560px;
}

.contacts::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: #000000;
}

.contacts h2 {
  margin: 0;
  margin-bottom: 43px;
  font-family: "Gilroy", "Calibri", sans-serif;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.21px;
  font-weight: 800;
  color: #000000;
}

.contacts p {
  margin-bottom: 40px;
  font-family: "Open Sans", "Calibri", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;
}

.map {
  display: block;
  margin-bottom: 62px;
}

.contacts-button {
  padding: 8px 43px;
}

/*INDEX POPUPS*/
.close-button {
  width: 55px;
  height: 55px;
  border: none;
  background-image: url("../img/modal-close.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  opacity: 0.5;
}

.close-button:hover,
.close-button:focus {
  opacity: 1;
}

.close-button:active {
  opacity: 0.3;
}

.map-popup {
  display: inline-block;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.map-iframe {
  width: 960px;
  height: 559px;
  box-shadow: 0 10px 20px 0 rgba(4, 6, 6, 0.2);
}

.map-popup .close-button {
  position: absolute;
  top: 22px;
  right: 22px;
}

.contact-popup {
  display: inline-block;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;

  background-color: #ffffff;
  box-shadow: 0 10px 20px 0 rgba(4, 6, 6, 0.2);
}

.contact-popup .close-button {
  position: absolute;
  top: 22px;
  right: 22px;
}

.contact-popup-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 90px 100px;
  padding-bottom: 0;
}

.contact-popup-container {
  display: flex;
  margin-bottom: 35px;
}

.contact-popup-input {
  display: flex;
  flex-direction: column;
}

.contact-popup-input:first-child {
  margin-right: 40px;
}

.contact-popup-form label {
  display: block;
  margin-bottom: 10px;
  font-family: "Gilroy", "Calibri", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
}

.contact-popup-form input::placeholder,
.contact-popup-form textarea::placeholder {
  padding: 16px 0;
  padding-left: 20px;
  font-family: "Open Sans", "Calibri", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(70, 70, 70, 0.4);
}

.contact-popup-form input,
.contact-popup-form textarea {
  padding: 16px 0;
  padding-left: 20px;
  width: 360px;
  border: none;
  background-color: rgba(230, 230, 230, 0.5);
}

.contact-popup-form textarea {
  margin-bottom: 40px;
  width: 760px;
  height: 156px;
}

.contact-popup-form input:hover,
.contact-popup-form textarea:hover {
  background-color: rgba(230, 230, 230, 0.8);
}

.contact-popup-form input:focus,
.contact-popup-form textarea:focus {
  background-color: transparent;
  box-shadow: 0 0 0 3px rgba(240, 197, 46, 0.5);
  color: #464646;
}

.contact-popup-form input:invalid,
.contact-popup-form textarea:invalid {
  background-color: rgba(237, 181, 181, 0.5);
  color: rgba(70, 70, 70, 0.4);
  border: none;
}

.popup-button {
  margin-bottom: 78px;
  border: none;
}

.hidden {
  display: none;
}

/* CATALOG.HTML */
.catalog-page .main {
  display: flex;
  flex-direction: column;

  padding-top: 0;
}

.main-heading {
  margin-top: 40px;
  margin-bottom: 25px;
  margin-left: 60px;

  font-family: "Gilroy", "Calibri", sans-serif;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.17px;
  font-weight: 800;
  color: #000000;
}

.breadcrumbs {
  margin-bottom: 50px;
  margin-left: 60px;
}

.breadcrumbs-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs-item {
  position: relative;
  padding-right: 60px;
}

.breadcrumbs-item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 10px;
  right: 30px;
  width: 4px;
  height: 7px;
  background-image: url("../img/nav-arrow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumbs-link {
  font-family: "Open Sans", "Calibri", sans-serif;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.14px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs-link:hover,
.breadcrumbs-link:focus {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs-link:active {
  color: rgba(0, 0, 0, 0.1);
}

.main-content-container {
  display: flex;
  flex-direction: column;
}

.catalog-headers {
  background-image:linear-gradient(to right,#dcdcdc 0,#dcdcdc 28%,#ebebeb 28%,#ebebeb 100%);
}

.catalog-headers .main-container {
  display: flex;
  align-items: center;
}

.filter-header {
  display: inline-block;

  margin: 0;
  margin-left: 60px;
  margin-right: 70px;
  padding: 23px 0;
  padding-right: 200px;

  background-color: #dcdcdc;

  font-family: "Gilroy", "Calibri", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.91px;
  text-transform: uppercase;
  font-weight: 800;
  color: #000000;
}

.sort {
  display: flex;
  align-items: center;
}

.sort h2 {
  margin:0;
  margin-right: 20px;
  padding: 23px 0;
  font-family: "Gilroy", "Calibri", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.91px;
  font-weight: 800;
  text-transform: uppercase;
  color: #000000;
}

.sort-list {
  display: flex;
  align-items: center;
  margin: 0;
  margin-right: auto;
  padding: 0;
  list-style: none;
}

.sort-item {
  margin-right: 28px;
}

.sort-item-link {
  font-family: "Open Sans", "Calibri", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
}

.sort-item-link:hover,
.sort-item-link:focus {
  color: rgba(0, 0, 0, 0.6);
}

.sort-item-link:focus {
  color: #000000;
}

.order-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;

  list-style: none;
}

.order-item-link {
  display: block;
  width: 11px;
  height: 10px;
}

.order-item-link::before {
  content: "";
  display: block;
  width: 11px;
  height: 10px;
  background-image: url("../img/icon-dir.svg");
  background-repeat: no-repeat;
  opacity: 0.2;
}

.order-item-up {
  margin-right: 19px;
}

.order-item-down .order-item-link::before {
  opacity: 1;
}

.order-item-up .order-item-link::before {
  transform: rotate(180deg);
}

.order-item-link:hover::before,
.order-item-link:focus::before {
  opacity: 0.4;
}

.order-item-link:active::before {
  opacity: 1;
}

.catalog-page-content {
  background-image: linear-gradient(to right,#eee 0,#eee 28%,#fff 28%,#fff 100%);
}

.catalog-page-content .main-container {
  display: flex;
}

.form {
  margin-right: 70px;
  margin-left: 60px;
  padding-top: 69px;

  background-color: #efefef;
}

.filter {
  position: relative;

  margin-right: 68px;
}

.filter-block::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 201px;
  height: 2px;

  background-color: #000000;
}

.filter-block:nth-child(2)::before {
  top: 120px;
}

.filter-block:nth-child(3)::before {
  top: 410px;
}

.filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.range-div {
  padding-top: 16px;

  width: 200px;
}

.range-div label {
  display: block;
  margin-bottom: 41px;

  font-family: "Gilroy", "Calibri", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px;
  font-weight: 800;
  color: #000000;
}

.filter-range {
  position: relative;

  width: 196px;
  height: 2px;

  background-color: #dbdbdb;
  margin-bottom: 39px;
}

.range-field {
  position: absolute;
  top: 0;
  left: 0;

  width: 110px;
  height: 2px;

  background-color: #91c92f;
}

.range-button {
  position: absolute;
  top: -9px;
  z-index: 5;

  width: 20px;
  height: 22px;

  border: none;
  background-color: none;
  background-image: url("../img/filter-button.svg");

  cursor: pointer;
}

.range-left {
  left: -10px;
}

.range-right {
  left: 100px;
}

.range-button:active {
  transform: scale(1.1);
}

.color,
.bluetooth {
  display: block;
  margin: 0;
  padding: 0;
  padding-top: 16px;
  width: 200px;
  border: none;
}

.color {
  margin-bottom: 55px;
}

.bluetooth {
  margin-bottom: 50px;
}

.color legend,
.bluetooth legend  {
  display: block;

  font-family: "Gilroy", "Calibri", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px;
  font-weight: 800;
  color: #000000;
}

.filter-option {
  padding-left: 40px;
}

.filter-option label {
  position: relative;
  display: block;

  font-family: "Open Sans", "Calibri", sans-serif;
  font-size: 14px;
  line-height: 40px;
  font-weight: 300;
  letter-spacing: 0.14px;
  color: #000000;

  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -40px;

  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked + label::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -40px;

  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -40px;

  width: 25px;
  height: 25px;

  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio:checked + label::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -40px;

  width: 25px;
  height: 25px;

  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-button {
  border: none;
}


.content-container {
  display: flex;
  flex-direction: column;

  margin-bottom: 77px;
  padding-top: 69px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  width: 760px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-item-block {
  position: relative;
}

.catalog-item {
  margin-bottom: 73px;
}

.catalog-item:nth-child(2n-1) {
  margin-right: 40px;
}

.catalog-item-link {
  position: relative;

  display: block;
  margin-bottom: 35px;
}

.catalog-item-new {
  position: absolute;
  top: 50px;
  right: 40px;

  display: block;

  font-family: "Gilroy", "Calibri", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 800;
  /* letter-spacing: ; */
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.2);
}

.catalog-item-new::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: block;

  width: 60px;
  height: 60px;

  background-color: transparent;

  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.catalog-description-wrapper {
  display: flex;
  align-items: center;
}

.catalog-item-description {
  margin: 0;
  margin-right: auto;
  padding: 0;
  font-family: "Gilroy", "Calibri", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px;
  font-weight: 800;
  color: #000000;
}

.catalog-item-description a {
  font-family: "Gilroy", "Calibri", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px;
  font-weight: 800;
  color: #000000;
}

.catalog-item-price {
  font-family: "Gilroy", "Calibri", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.16px;
  font-weight: 300;
  color: #464646;
}

.catalog-item-hover {
  display: none;
  padding-top: 170px;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 360px;
  height: 380px;
  background-color: rgba(238, 238, 238, 0.7);
}

.catalog-button {
  margin-bottom: 20px;
}

.catalog-compare-link {
  font-family: "Open Sans", "Calibri", sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  letter-spacing: 0.13px;
  color: rgba(0, 0, 0, 0.5);
}

.catalog-compare-link:hover,
.catalog-compare-link:focus {
  color: #000000;
}

.catalog-compare-link:active {
  color: rgba(0, 0, 0, 0.2);;
}

.catalog-item-link:hover ~ .catalog-item-hover,
.catalog-item-hover:hover {
  display: flex;
}

.pages {
  background-color: rgba(0, 0, 0, 0.08);
}

.pages-list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pages-item-link {
  padding: 23px 15px;
  display: block;
  font-family: "Gilroy", "Calibri", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.91px;
  font-weight: 800;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.pages-item-link:hover,
.pages-item-link:focus {
  color: rgba(0, 0, 0, 0.6);
}

.pages-item-link:active,
.current-page {
  color: #000000;
}

.pages-item:first-child .pages-item-link,
.pages-item:last-child .pages-item-link {
  padding-left: 30px;
  padding-right: 30px;
  color: #000000;
}

.pages-item:first-child {
  margin-right: auto;
}

.pages-item:last-child {
  margin-left: auto;
}

.pages-item:first-child:hover,
.pages-item:first-child:focus,
.pages-item:last-child:hover,
.pages-item:last-child:focus {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.08);
}

.pages-item:first-child .pages-item-link:active,
.pages-item:last-child .pages-item-link:active {
  color: rgba(0, 0, 0, 0.3);
}

/* FOOTER */
.main-footer {
  display: flex;
  flex-direction: column;
  padding-top: 65px;
  padding-bottom: 65px;
  background-color: #464646;
}

.main-footer .main-container {
  padding-top: 0;
}

.footer-block {
  display: flex;
}

.footer-block:first-child {
  margin-bottom: 10px;
}

.main-footer .main-logo {
  margin: 0;

  width: 163px;
  height: 35px;

  fill: #ffc600;
}

.main-footer .main-logo:hover,
.main-footer .main-logo:focus {
  fill: rgba(255, 198, 0, 0.6);
}

.main-footer .main-logo:active {
  fill: rgba(255, 198, 0, 0.3);
}

.main-footer .user-navigation {
  margin: 0;
  margin-left: auto;
}

.main-footer .user-navigation-link {
  padding: 0;

  color: rgba(255, 255, 255, 0.7);
}

.main-footer .user-navigation-link:hover,
.main-footer .user-navigation-link:focus {
  color: #ffffff;
}

.main-footer .user-navigation-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.main-footer .user-navigation-item:first-child {
  margin-right: 45px;
}

.main-footer .user-navigation-item:nth-child(2) {
  margin-right: 40px;
}

.user-navigation-icon {
  margin-right: 5px;

  fill: #ffc600;
}

.user-navigation-icon.user-icon {
  margin-right: 9px;
}

.user-navigation-link:hover .user-navigation-icon,
.user-navigation-link:focus .user-navigation-icon {
  opacity: 0.6;
}

.user-navigation-link:active .user-navigation-icon {
  opacity: 0.3;
}

.footer-block:nth-child(2) {
  margin-bottom: 48px;
}

.address-wrapper {
  margin-right: 165px;
}

.address {
  font-family: "Open Sans", "Calibri", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #ffffff;
}

.footer-nav-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-nav-list .nav-item:not(:last-child) {
  margin-right: 33px;
}

.footer-nav-link {
  color: #ffffff;
}

.footer-nav-link:hover,
.footer-nav-link:focus {
  color: rgba(255, 255, 255, 0.6);
}

.footer-nav-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.phone-number-wrapper {
  margin-left: auto;
}

.phone-number {
  font-family: "Open Sans", "Calibri", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #ffffff;
}

.phone-number-link {
  color: #ffffff;
}

.footer-block:last-child {
  position: relative;
  justify-content: flex-end;
}

.footer-block:last-child::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: #ffc600;
}

.footer-social {
  width: 160px;
  margin-right: 473px;
}

.footer-social-list {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-social-link {
  display: block;
  width: 32px;
  height: 32px;
}

.footer-social-link::before {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  background-image: url("../img/facebook.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.instagram::before {
  background-image: url("../img/instagram.svg");
}

.twitter::before {
  background-image: url("../img/twitter.svg");
}

.footer-social-link:hover::before,
.footer-social-link:focus::before {
  opacity: 0.6;
}

.footer-social-link:active::before {
  opacity: 0.1;
}

.academy-link {
  color: #ffffff;
}

.academy-logo-icon {
  fill: #ffc600;
}

.academy-logo-icon:hover,
.academy-logo-icon:focus {
  fill: rgba(255, 198, 0, 0.6);
}

.academy-logo-icon:active {
  fill: rgba(255, 198, 0, 0.3);
}
