
/* HEADER */

.logo-link {
  text-decoration: none;
}

.searc1h-form-input:placeholder {
  font-family: "OpenSans";
  font-size: 15px;
  line-height: 30px;
  /* font-weight: ; */
  /* letter-spacing: 0.01em;  */
  color: rgba(0, 0, 0, 0.3);
}

.user-navigation-link {
  text-decoration: none;
  font-family: "OpenSans"
    font-size: 15px;
  line-height: 30px;
  color: #000000;
}

.nav-link {
  text-decoration: none;
  font-family: "Gilroy"
    font-size: 18px;
  line-height: 24px;
  /* font-weight: ; */
  /* letter-spacing: ; */
  color: #000000;
}

.catalog-link {
  text-decoration: none;
  font-family: "OpenSans"
    font-size: 15px;
  line-height: 30px;
  /* font-weight: ; */
  /* letter-spacing: ; */
  color: #000000;
}

/* INDEX.HTML */

.slider-item h2 {
  font-family: "Gilroy";
  font-size: 47px;
  line-height: 56px;
  /* letter-spacing: ; */
  /* font-weight: ; */
  color: #000000;
}

.slider-item p {
  font-family: "OpenSans"
    font-size: 15px;
  line-height: 30px;
  /* font-weight: ; */
  /* letter-spacing: ; */
  color: #464646;
}

dt {
  font-family: "Gilroy";
  font-size: 36px;
  line-height: 48px;
  /* letter-spacing: ; */
  /* font-weight: ; */
  color: #000000;
}

dd {
  font-family: "OpenSans"
    font-size: 13px;
  line-height: 20px;
  /* font-weight: ; */
  /* letter-spacing: ; */
  color: #464646;
}

.popular-link {
  text-decoration: none;
  color: #000000;
}

.popular-link span {
  font-family: "Gilroy";
  font-size: 18px;
  line-height: 24px;
  /* letter-spacing: ; */
  /* font-weight: ; */
  color: #000000;
}

.service-item-link {
  text-decoration: none;
  font-family: "Gilroy";
  font-size: 18px;
  line-height: 24px;
  /* letter-spacing: ; */
  /* font-weight: ; */
  color: #000000;
}

.service-description-item h2 {
  font-family: "Gilroy";
  font-size: 47px;
  line-height: 48px;
  /* letter-spacing: ; */
  /* font-weight: ; */
  color: #000000;
}

.service-description-item p {
  font-family: "OpenSans"
  font-size: 15px;
  line-height: 30px;
  /* font-weight: ; */
  /* letter-spacing: ; */
  color: #464646;
}

.info h2 {
  font-family: "Gilroy";
  font-size: 47px;
  line-height: 48px;
  /* letter-spacing: ; */
  /* font-weight: ; */
  color: #000000;
}

.info p {
  font-family: "OpenSans"
  font-size: 15px;
  line-height: 30px;
  /* font-weight: ; */
  color: #464646;
}

.info-item {
  font-family: "Gilroy";
  font-size: 16px;
  line-height: 40px;
  /* letter-spacing: ; */
  /* font-weight: ; */
  color: #000000;
}

.contacts h2 {
  font-family: "Gilroy";
  font-size: 47px;
  line-height: 48px;
  /* letter-spacing: ; */
  /* font-weight: ; */
  color: #000000;
}

/* CATALOG.HTML */
.main-heading {
  font-family: "Gilroy";
  font-size: 47px;
  line-height: 48px;
  /* letter-spacing: ; */
  /* font-weight: ; */
  color: #000000;
}

.breadcrumbs-link {
  text-decoration: none;
  font-family: "OpenSans";
  font-size: 14px;
  line-height: 24px;
  /* letter-spacing: ; */
  /* font-weight: ; */
  color: #000000;
}

.form h2 {
  font-family: "Gilroy";
  font-size: 16px;
  line-height: 24px;
  /* letter-spacing: ; */
  /* font-weight: ; */
  color: #000000;
}

.range-div label {
  font-family: "Gilroy";
  font-size: 18px;
  line-height: 24px;
  /* letter-spacing: ; */
  /* font-weight: ; */
  color: #000000;
}

.color legend {
  font-family: "Gilroy";
  font-size: 18px;
  line-height: 24px;
  /* letter-spacing: ; */
  /* font-weight: ; */
  color: #000000;
}

.bluetooth legend {
  font-family: "Gilroy";
  font-size: 18px;
  line-height: 24px;
  /* letter-spacing: ; */
  /* font-weight: ; */
  color: #000000;
}

.filter-option label {
  font-family: "OpenSans"
  font-size: 14px;
  line-height: 40px;
  /* font-weight: ; */
  /* letter-spacing: ; */
  color: #ffffff;
}

.sort h2 {
  font-family: "OpenSans"
  font-size: 14px;
  line-height: 18px;
  /* font-weight: ; */
  /* letter-spacing: ; */
  color: #000000;
}

.sort-item-link {
  text-decoration: none;
  font-family: "OpenSans"
  font-size: 14px;
  line-height: 18px;
  /* font-weight: ; */
  /* letter-spacing: ; */
  color: rgba(0, 0, 0, 0.3);
}

.catalog-item-description a {
  text-decoration: none;
  font-family: "Gilroy";
  font-size: 18px;
  line-height: 24px;
  /* letter-spacing: ; */
  /* font-weight: ; */
  color: #000000;
}

.catalog-item-price {
  font-family: "Gilroy";
  font-size: 16px;
  line-height: 24px;
  /* letter-spacing: ; */
  /* font-weight: ; */
  color: #464646;
}

.pages-item-link {
  text-decoration: none;
  font-family: "Gilroy";
  font-size: 16px;
  line-height: 24px;
  /* letter-spacing: ; */
  /* font-weight: ; */
  color: #000000;
}

/* FOOTER */
.address {
  font-family: "OpenSans"
  font-size: 15px;
  line-height: 30px;
  /* font-weight: ; */
  color: #ffffff;
}

.footer-nav-link {
  color: #ffffff;
}

.footer-social-link {
  text-decoration: none;
}

.academy-link {
  text-decoration: none;
}

.main-footer .user-navigation-link {
  color: #ffffff;
}

.phone-number {
  font-family: "OpenSans"
  font-size: 15px;
  line-height: 30px;
  /* font-weight: ; */
  color: #ffffff;
}

.phone-number-link {
  text-decoration: none;
  color: #ffffff;
}
